node-red/flows_Soos-MacBook-Pro.local.json
[{"id":"604d31de17d97c5f","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"29c5b864c04c8795","type":"subflow","name":"JWT Token","info":"","category":"","in":[{"x":140,"y":140,"wires":[{"id":"4581718439f29efd"}]}],"out":[{"x":620,"y":220,"wires":[]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8b0d5c71acac282a","type":"blockly-config","z":"29c5b864c04c8795","language":"en","showTrashcan":true,"allowComments":true,"showZoomControl":true,"showMiniMap":true,"enableBackPack":false,"backpackContents":[],"toolboxPosition":"left","renderer":"geras","theme":"dark","categories":[{"name":"Node-RED","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/nodeRedBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/nodered/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Objects","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/objectBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/json/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Buffer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/bufferBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/buffer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Date/time","files":["blockly-contrib/npm/@blockly___SEPARATOR___field-date/dist/index.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/dateTimeBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/datetime/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Timer","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/timerBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/timer/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly extension","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksCodeGen.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/extraBlocksDefs.js","blockly-contrib/npm/node-red-contrib-blockly/lib/extra/toolbox.xml","blockly-contrib/npm/node-red-contrib-blockly/messages/en.js"]},{"name":"Blockly standard","files":["blockly-contrib/npm/node-red-contrib-blockly/lib/basic/toolbox.xml"]}],"customizeToolbox":false,"name":""},{"id":"4581718439f29efd","type":"switch","z":"29c5b864c04c8795","name":"/token","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/token","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":100,"wires":[["f3eac82b5b425894"]]},{"id":"f3eac82b5b425894","type":"switch","z":"29c5b864c04c8795","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":100,"wires":[[]]},{"id":"6e40787e7f758524","type":"Blockly","z":"29c5b864c04c8795","func":"","workspaceXml":"<xml xmlns=\"https://developers.google.com/blockly/xml\"></xml>","outputs":1,"timeout":0,"blocklyConfig":"8b0d5c71acac282a","backpackContents":[],"noerr":0,"name":"","x":280,"y":280,"wires":[[]]},{"id":"8e5c8584c443e329","type":"http in","z":"604d31de17d97c5f","name":"","url":"*","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":200,"y":140,"wires":[["bc2f9774721d1675"]]},{"id":"539b8ea9d7d97de5","type":"http response","z":"604d31de17d97c5f","name":"","statusCode":"","headers":{},"x":750,"y":140,"wires":[]},{"id":"0dd1d1d1e3e2ff38","type":"http in","z":"604d31de17d97c5f","name":"","url":"*","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":190,"y":180,"wires":[["bc2f9774721d1675"]]},{"id":"5dd57d25da9b38a5","type":"http response","z":"604d31de17d97c5f","name":"","statusCode":"200","headers":{},"x":380,"y":240,"wires":[]},{"id":"bc2f9774721d1675","type":"switch","z":"604d31de17d97c5f","name":"Unsecured Pages","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/token","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":160,"wires":[["c22cb8408da10d49"],["41e747c9ff8c5541","524beffb5bf90d4e"]]},{"id":"da89a1227c726213","type":"jwt verify","z":"604d31de17d97c5f","name":"","algorithms":"","mode":"secret","secret":"$NUeoGcTW^L2SG0c0LAe4L7S@xc1S5%wR0eK$I5zPf%fnS3DdQ","secretType":"str","publicKey":"","publicKeyType":"str","autoDetectjwkid":"false","autoDetectjwkidType":"bool","jwkid":"","jwkidType":"str","jwkurl":"","jwkurlType":"str","ignoreExpiration":"false","ignoreExpirationType":"bool","ignoreNotBefore":"false","ignoreNotBeforeType":"bool","audience":"HELASG_Staff","audienceType":"str","issuer":"HELASG","issuerType":"str","token":"payload","maxAge":"180","maxAgeType":"num","constraints":[],"output":"payload","outputType":"msg","x":780,"y":180,"wires":[["29171c800a12f451","4ef900da3c54953f"]]},{"id":"c22cb8408da10d49","type":"subflow:29c5b864c04c8795","z":"604d31de17d97c5f","name":"","x":600,"y":140,"wires":[["539b8ea9d7d97de5"]]},{"id":"29171c800a12f451","type":"switch","z":"604d31de17d97c5f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":180,"wires":[[]]},{"id":"85f9b8b3c8421afd","type":"jwt sign","z":"604d31de17d97c5f","name":"","algorithm":"HS256","mode":"secret","secret":"$NUeoGcTW^L2SG0c0LAe4L7S@xc1S5%wR0eK$I5zPf%fnS3DdQ","secretType":"str","privateKey":"","privateKeyType":"str","jwkid":"","jwkidType":"str","jwkurl":"","jwkurlType":"str","expiresIn":3600,"expiresInType":"num","audience":"HELASG_Staff","audienceType":"str","issuer":"HELASG","issuerType":"str","sign":"payload","signType":"msg","notBefore":"","notBeforeType":"num","output":"payload","outputType":"msg","keyid":"","keyidType":"str","x":700,"y":420,"wires":[[]]},{"id":"41e747c9ff8c5541","type":"debug","z":"604d31de17d97c5f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"524beffb5bf90d4e","type":"change","z":"604d31de17d97c5f","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"req.cookies.jwt","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["da89a1227c726213"]]},{"id":"4ef900da3c54953f","type":"debug","z":"604d31de17d97c5f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]}]